# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'api'
      paths-to-match: '/api/v1/**'
      packages-to-scan: org.eoa.projectbudget.restController
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: eoa
    password: eoa
    url: jdbc:mysql://localhost:3306/eoa_build?serverTimezone=GMT%2B8&&useAffectedRows=true&&useSSL=false
  redis:
    database: 0
    host: localhost
    port: 6379
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false

eoa:
  cache-time: 5  # 单位分钟

