<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为映射的地址，也就是只有在这个接口中才能使用下边的内容-->
<mapper namespace="org.eoa.projectbudget.mapper.FormDMLMapper">
    <!-- id 外部为调用的名字 resultType 为和数据库表中映射的类名，parameterType就是传递进来的参数id的类型-->
    <update id="updateDetailForm">
        update ${formDetailTableName}
        <set>
            <foreach collection="columns.entrySet()" index="key" item="value">
                `${key}` = #{value},
            </foreach>
        </set>
        where `detailDataId` = #{detailDataId}
    </update>
    
    <update id="updateMainForm">
        update ${formTableName}
        <set>
            <foreach collection="columns.entrySet()" index="key" item="value">
                `${key}` = #{value},
            </foreach>
            `lastEditTime` = now()
        </set>
        where `dataId` = #{dataId}
    </update>
    
    <insert id="insertDetailForm" keyColumn="detailDataId" keyProperty="columns.detailDataId" useGeneratedKeys="true">
        insert into ${formDetailTableName}
        <foreach collection="columns.keySet()" index="index" item="value" open="(" separator="," close=")">
            `${value}`
        </foreach>
        value
        <foreach collection="columns.values()" index="index" item="value" open="(" separator="," close=")">
            #{value}
        </foreach>
    </insert>
    
    <insert id="insertMainForm" keyColumn="dataId" keyProperty="columns.dataId" useGeneratedKeys="true">
        insert into ${formTableName}
        <foreach collection="columns.keySet()" index="index" item="value" open="(" separator="," close=")">
            `${value}`
        </foreach>
        value
        <foreach collection="columns.values()" index="index" item="value" open="(" separator="," close=")">
            #{value}
        </foreach>
    </insert>

    <select id="getIdsByMap" resultType="Long">
        select dataId from ${formTableName}
        <where>
            <foreach collection="eqMap.entrySet()" index="key" item="value" separator=" and ">
                ${key} = #{value}
            </foreach>
            <if test="likeMap.size()>0">
                and
                <foreach collection="likeMap.entrySet()" index="key" item="value" separator=" and ">
                    ${key} like #{value}
                </foreach>
            </if>
            <if test="betweenMap.size()>0">
                and
                <foreach collection="betweenMap.entrySet()" index="key" item="value" separator=" and ">
                    ${key}
                        <foreach collection="value" index="keys" item="valueItem" open="between" separator="and">
                            #{valueItem}
                        </foreach>
                </foreach>
            </if>
        </where>
    </select>



</mapper>
